Package: com.cheatmenu.tweak
Name: cheatMenu
Version: 1.0.0
Architecture: iphoneos-arm
Description: Floating cheat menu with UI/Aimbot/Profile tabs
Maintainer: CheatMenu
Author: CheatMenu
Section: Tweaks
